VITE_SUPABASE_URL=https://jorfmtlkjlhkinbfgxnb.supabase.co
SUPABASE_URL=https://jorfmtlkjlhkinbfgxnb.supabase.co
VITE_BACKEND_URL=http://lhost:5000
VITE_RAZORPAY_KEY_ID=your_razorpay_key_id
VITE_MERCHANT_UPI_ID=your_merchant_upi_id
